<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HustlePuffin | Upcoming Next Steps</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/materialize.css">
  <script src="/jquery.js" type="text/javascript" defer></script>
  <script src="/script.js" type="text/javascript" defer></script>
</head>
<body class="bg">
  <div class="row" id="header">
    <div class="col s6">
      <p class="logo">
        <span class="deep-orange-text accent-3">//</span><a href="/">HustlePuffin</a>
      </p>
    </div>
    <div class="top-nav col s6">
      <p class="nav">
        <a class="account" href="/companies">&nbspCOMPANIES&nbsp</a>
      </p>
    </div>
  </div>
  <div class="row">
   <div class="col s2"></div>
    <div id="showcase" class="col s8">
      {{#days}}
        <center><h1 class="headline1">{{day}}</h1></center>
        {{#interactions}}
        <div class="cards">
          <a class="title_link" href="/interactions/{{cont_id}}">{{contact_name}}, {{title}} @ {{name}}</a>
          <div class="holder">
            Next Step: <span>{{next_step}}</span>
            <br>
            Notes:
            <br>
            <span>{{notes}}</span>
          </div>
        </div>
        {{/interactions}}
      {{/days}}
    </div>
  </div>
</body>
</html>
