<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HustlePuffin | Interactions</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/jquery.js" type="text/javascript" defer></script>
  <script src="/script.js" type="text/javascript" defer></script>
</head>
<body class="bg">
  <div class="row" id="header">
    <div class="col s6">
      <p class="logo">
        <span class="deep-orange-text accent-3">//</span><a href="/">HustlePuffin</a>
      </p>
    </div>
    <div class="top-nav col s6">
      <p class="nav">
        <a class="account" href="/contacts/{{cid}}">&nbspCONTACTS&nbsp</a>
        <span class="account">&nbsp|&nbsp</span>
        <a class="account" href="/account">&nbspNEXT STEPS&nbsp</a>
      </p>
    </div>
  </div>
  <div class="row">
  <div class="col s1"></div>
    <div id="showcase" class="col s6">
      <h1 class="headline">{{person}}</h1>
      <br>
      {{#empty}}
        <div class="cards">
          <h3>{{hustle}}</h3>
        </div>
      {{/empty}}
      {{#interactions}}
      <div class="cards">
        <a class="title_int">{{interaction_date}}</a>
        <div class="holder">
          <div class="icons">
            <button class="update" data-date="{{interaction_dateShort}}" data-date1="{{next_dateShort}}" data-contact="{{contact_id}}" data-int="{{int_id}}"><i class="tiny material-icons">mode_edit</i></button>
            <form method="POST" action="/interactions/{{int_id}}/{{contact_id}}?_method=DELETE">
              <button type="submit"><i class="tiny material-icons">delete</i></button>
            </form>
          </div>
          Type: <span class="1">{{type}}</span>
          <br>
          Next Steps: <span class="2">{{next_step}}</span>
          <br>
          Follow Up Date: <span>{{next_date}}</span>
          <br>
          Notes:
          <br>
          <span class="3">{{notes}}</span>
        </div>
      </div>
      {{/interactions}}
    </div>
    <div id="create" class="col s3">
      <center>
        <h1>Add Interaction</h1>
      </center>
      <form method="POST" action="/interactions/{{cid}}">
        <div>
          <input class="inputs" type="text" name="int_date" placeholder="Date" required=""/>
        </div>
        <div>
          <input class="inputs" type="text" name="type" placeholder="Type"/>
        </div>
        <div>
          <input class="inputs" type="text" name="next" placeholder="Next Steps" required=""/>
        </div>
        <div>
          <input class="inputs" type="text" name="next_date" placeholder="Follow Up Date"/>
        </div>
        <div>
          <textarea class="materialize-textarea" type="text" name="note" placeholder="Notes"></textarea>
        </div>
        <center>
          <button class="btn deep-orange accent-3" type="submit" name="action"> Create
          </button>
        </center>
      </form>
    </div>
  </div>
</body>
</html>
