<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HustlePuffin | Sign Up</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/materialize.css">
  <script src="/jquery.js" type="text/javascript" defer></script>
  <script src="/script.js" type="text/javascript" defer></script>
</head>
<body>
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="/images/bg.m4v" class="fullscreen-bg__video">
        <source src="/images/bg.m4v" type="video/mp4">
    </video>
  </div>
  <div class="row" id="header">
    <div class="col s6">
      <p class="logo">
        <span class="deep-orange-text accent-3">//</span><a href="/">HustlePuffin</a>
      </p>
    </div>
  </div>
  <div class="container row main">
    <div class="col s3"></div>
    <div id="login" class="col s9 valign-wrapper">
      <form method="POST" action="/signup">
      <div class="credentials">
        <input class="inputs" type="text" name="email" placeholder="Email" required=""/>
      </div>
      <div class="credentials">
        <input class="inputs" type="text" name="password" placeholder="Password" required=""/>
      </div>
        <center>
          <button class="btn deep-orange accent-3" type="submit" name="action"> Sign Up
          </button>
        </center>
    </form>
    </div>
  </div>
</body>
</html>
