<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HustlePuffin | Woops!</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:800|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/materialize.css">
  <script src="/jquery.js" type="text/javascript" defer></script>
  <script src="/script.js" type="text/javascript" defer></script>
</head>
<body>
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="/images/bg.m4v" class="fullscreen-bg__video">
        <source src="/images/bg.m4v" type="video/mp4">
    </video>
  </div>
  <div class="row" id="header">
    <div class="col s6">
      <p class="logo">
        <span class="deep-orange-text accent-3">//</span><a href="/">HustlePuffin</a>
      </p>
    </div>
    <div class="top-nav col s6">
      <p class="nav">
        <a class="account" href="/login">&nbspLOG IN&nbsp</a>
        <span class="account">&nbsp|&nbsp</span>
        <a class="account" href="/signup">&nbspSIGN UP&nbsp</a>
      </p>
    </div>
  </div>
  <div class="container row main">
    <div class="col s1"></div>
    <div id="login" class="col s10">
      <center>
        <h1 class="oops">Uh oh! It seems there was a problem with your credentials.</h1>
        <h2 class="oops">Pleasure humor us and try again.</h2>
      </center>
    </div>
    <div class="col s1"></div>
  </div>
</body>
</html>
